@use './variables' as *;


.btn-swibblet {
    min-height:4rem;
    min-width:16rem;
    height:35%;
    width:80%;
    background:$color-blue;
    border-radius:25px;
    border:none;
    color:$color-white;
    font-size:1.75rem;
    font-family: $font-button;
    opacity: 0.9;

    &:hover {
        opacity:1;
    }
}
