$color-dark : #10161c;
$color-accent : #18eb9e;
$color-light : #ebebeb;
$color-black : #121212;
$color-white : #ffffff;
$color-gray : #bebebe;
$color-bluegray : #ccccff;
$color-blue : #487bda;
$color-darkgray : #1c2125;
$color-green : #10bb00;
$color-aqua : #04a791;

$color-dark-less : #19222b;
$color-dark-less-sec : #182027;
$color-dark-more : #0e141a;
$color-accent-more : #0f9966;

$font-primary : 'Ubuntu',Arial,Helvetica,sans-serif;
$font-secondary : 'Raleway','Roboto',Verdana,Arial,Helvetica,sans-serif;
$font-branding : 'Righteous',Verdana,Arial,helvetica;
$font-special : "Varela Round",Verdana,Arial,sans-serif;
$font-button : 'Rubik',Arial,helvetica,sans-serif;

