:root {
    --light:#F0F4F3;
    --gray:#868a89;
    --red:rgb(228, 49, 49);
    --green:rgb(24, 226, 108);
}

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    overflow:auto;
    border:none;
}

body {
    height:100vh;
    width:100vw;
    background:var(--light);
}

#main {
    height:100%;
    width:100%;
}

#root {
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
#c-main {
    height:80%;
    width:65%;
    background:#fff;
    border-radius:10px;
    display:grid;
    grid-template-columns: 35% 65%;
}

#c-main-1 {

    background: rgb(58,169,171);
    background: linear-gradient(0deg, rgba(58,169,171,1) 0%, rgba(74,208,119,1) 77%);
    display:grid;
    grid-template-rows: 25% 20% 15% 15% 25%;
    justify-items: center;
}
#c-main-2 {
    display:grid;
    grid-template-rows: 10% 12.5% 7.5% 60% 10%;
}
#c-root-1 {
    display: flex;
    justify-content: center;
}
#c-root-1 #title {
    color:#3AA9AB;
    font-family: Comfortaa,Arial, Helvetica, sans-serif;
    font-size:2.4em;
    font-weight: bold;
}
#c-root-2 {
    display: flex;
    justify-content: center;
}
#c-root-2 #subtitle {
    color:var(--gray);
    font-family: Roboto,Arial,Helvetica, sans-serif;
    font-size:1em;
}
#c-root-3 {
    height:100%;
    width:100%;
    display:grid;
    place-items: center;
    grid-template-rows: 30% 17.5% 5% 17.5% 30%;
}

#c-root-3 .c-input {
    height:100%;
    width:70%;
    background: #F4F8F7;
    display:grid;
    grid-gap:5%;
    grid-template-columns: 15% 80%;
    border-radius: 5px;
    
}
#c-root-3 .c-input .c-input-icon {
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#c-root-3 .c-input .c-input-icon .icon {
    font-size:1.2em;
    color:rgb(119, 119, 119);
    transition:font-size 0.2s linear;
}
#c-root-3 .c-input .c-input-icon .icon:hover {
    font-size:1.3em;

}

#c-root-3 .c-input .c-input-text {
    height: 100%;
    width:100%;
}

#c-root-3 .c-input .c-input-text .input {
    height:100%;
    width:100%;
    background:transparent;
    color:rgb(68, 68, 68);
    font-size:1.05em;
    font-family: Lato,Arial, Helvetica, sans-serif;
}

#c-root-3 .c-input .c-input-text .input::placeholder {
    color:rgb(68, 68, 68);
    opacity: 0.75;
}



#c-root-3 #c-button {
    height: 100%;
    width:100%;
    display:flex;
    align-items: flex-end;
    justify-content: center;
}

#c-root-3 #c-button #register {
    height:50%;
    min-width:32.5%;
    background:#3AA9AB;
    color:#fff;
    font-family: Montserrat,Arial,Helvetica, sans-serif;
    border-radius: 35px;
    font-size:1.05rem;
    border:1px solid transparent;
    transition:min-width 0.2s linear;
}

#c-root-3 #c-button #register:hover {
    min-width:35%;
    border-color: #3AA9AB;
    background:transparent;
    color: #3AA9AB;
}



#c-main-1 #c-main-1-root-1 {
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
}
#c-main-1 #c-main-1-root-1 #signin-title {
    font-size:2.1em;
    color:#fff;
    font-family: Comfortaa,Arial, Helvetica, sans-serif;
}

#c-main-1 #c-main-1-root-2 {
    height:100%;
    width:80%;
    display:flex;
    justify-content: center;
}
#c-main-1 #c-main-1-root-2 #signin-label {
    font-size:1.02em;
    color:#fff;
    font-family: Roboto,Arial, Helvetica, sans-serif;
}

#c-main-1 #c-main-1-root-3 {
    height:100%;
    width:60%;
    display:flex;
    align-items:center;
    justify-content: center;
}
#c-main-1 #c-main-1-root-3 #to-login {
    height:65%;
    width:80%;
    border:1px solid #fff;
    color:#fff;
    background:transparent;
    border-radius: 35px;
    font-size:0.9em;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    transition:width 0.2s linear;

}
#c-main-1 #c-main-1-root-3 #to-login:hover {
    width:87.5%;
    background:#fff;
    border-color:#fff;
    color:#3AA9AB;
}




.text-red {
    color:var(--red);
}
.text-green {
    color:var(--green);
}