@use './variables' as *;


.btn-swibblet {
    min-height:4rem;
    min-width:16rem;
    height:35%;
    width:80%;
    background:$color-accent-more;
    border-radius:25px;
    border:none;
    color:$color-white;
    font-size:1.8rem;
    font-family: $font-primary;
}

.btn-swibblet:hover {
    background-color: $color-accent;
}